<br>
<h2>{{dictionary.flightInsurance}}</h2>
<br>
<div class="row">

<div class="col">
<mat-card>
  <mat-card-title>We guarantee:</mat-card-title>
<mat-list>
  <br>
    <mat-list-item>Luggage lost}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Steal</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Treatment costs</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Help if accident</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Help if delayed</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Refund if accident</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>In form family</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Insurance cost is only}}</mat-list-item>
  </mat-list>
</mat-card>
</div>
<div class="col">
  <img src="assets/images/insurance.png" width="500px" height="500px">
</div>
</div>
