<div class="container">
  <br>
  <br>
    <mat-card>
      <mat-card-title>Ticket Number: {{flightSearchService.ticketToShow.ticketID}} <br>
      Plane: {{flightSearchService.ticketToShow.flight.plane.planeName}}
      </mat-card-title>
    <mat-list>
      <br>
      <div class="row">
      <div class="col">
        <mat-list-item>Name: {{flightSearchService.ticketToShow.name}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Surname: {{flightSearchService.ticketToShow.surname}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Pesel: {{flightSearchService.ticketToShow.pesel}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Phone number: {{flightSearchService.ticketToShow.phonenumber}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>From: {{flightSearchService.ticketToShow.flight.connection.departureAirport.airportName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>To: {{flightSearchService.ticketToShow.flight.connection.arrivalAirport.airportName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Price: {{flightSearchService.ticketToShow.ticketCost}}</mat-list-item>
      </div>
      <div class="col">
        <mat-list-item>Departure date: {{flightSearchService.ticketToShow.flight.departureDate | date: 'dd/MM/yyyy'}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Departure hour: {{flightSearchService.ticketToShow.flight.departureTime}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Arrival date: {{flightSearchService.ticketToShow.flight.arrivalDate | date: 'dd/MM/yyyy'}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Arrival hour: {{flightSearchService.ticketToShow.flight.arrivalTime}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Row: {{flightSearchService.ticketToShow.whichRow}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Place: {{flightSearchService.ticketToShow.place}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Class: {{flightSearchService.ticketToShow.category}}</mat-list-item>
      </div>
    </div>
      </mat-list>
    </mat-card>
    </div>
